* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}
.dashbord {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 240px 1fr;
    grid-template-rows: 60px 1fr 40px;

    grid-template-areas:
     "header header"
     "sidebar content"
     "footer footer"
}
.header {
    grid-area: header;
    background: #1e293b;
    color: white;
    display: grid;
    place-items: center;
}
.sidebar {
    grid-area: sidebar;
    background: #334155;
    color: white;
    padding: 1rem;
}
.content {
    grid-area: content;
    background: #f1f5f9;
    padding: 1rem;
}
.footer {
    grid-area: footer;
    background: #1e293b;
    color: white;
    display: grid;
    place-items: center;
}

@media (max-width: 768px) {
    .dashbord {
        grid-template-columns: 1fr;
        grid-template-rows: 60 1fr 40px;

        grid-template-areas: 
        "header"
        "content"
        "footer";
    }
    .sidebar {
        display: none;
    }
}